.text {
    font-weight: 600;
    color: black;
    position: relative;
    top: -187px;
    /* left: 50px; */
    /* margin: auto; */
    text-align: center;
}

.imagee {
    height: 885px;
}

.te {
    position: relative;
    top: -165px;
    /* left: 59px; */
    /* z-index: 10 !important; */
    text-align: center;
}